<header id="fh5co-header">
    <div class="container-fluid">
        <div class="row">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
            <ul class="fh5co-social hidden-xs">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('users.account') }}"><i class="icon-user"></i></a></li>
                <li><a href="{{ url_for('users.logout') }}"><i class="icon-log-out"></i></a></li>
                {% else %}
                <li><a href="{{ url_for('users.login') }}"><i class="icon-login"></i></a></li>
                {% endif %}
            </ul>
            <div class="col-lg-12 col-md-12 text-center">               
                <div id="fh5co-logo">
                    <h1>
                        <a href="{{ url_for('main.home') }}">
                            Flask <br> Blog<span></span>
                        </a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
