{% extends "base.html" %}
{% block content %}

<div class="row display-flex fh5co-post-entry mb-5">
    {% for post in posts.items %}
    <article class="col-lg-6 col-md-6 col-sm-4 col-xs-6 col-xxs-12 animate-box">
        <figure>
            <a href="{{ url_for('posts.post',post_id=post.id) }}">
                <img src="{{ url_for('static',filename='uploads/posts/'+post.image) }}"
                    alt="Image" class="img-responsive">
            </a>
        </figure>
        <span class="fh5co-meta">
            <a href="{{ url_for('users.user_posts',username=post.author.username)  }}"
                class="mr-2 author">
                <i class="icon-users"></i>
                {{ post.author.username }}
            </a>
            <i class="icon-calendar"></i>
            {{ post.date_posted.strftime('%Y-%m-%d') }}
        </span>
        <h2 class="fh5co-article-title">
            <a href="{{ url_for('posts.post',post_id=post.id) }}">
                {{ post.title }}
            </a>
        </h2>

    </article>
    {% endfor %}
</div>

<div class="pagination">

    {% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
    {% if page_num %}
    {% if posts.page == page_num %}
    <a href="{{ url_for('main.home',page=page_num) }}"
        class="btn btn-primary mb-4">{{ page_num }}
    </a>
    {% else %}
    <a href="{{ url_for('main.home',page=page_num) }}"
        class="btn btn-outline-primary mb-4">{{ page_num }}
    </a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
</div>

{% endblock content %}
