{% extends "base.html" %}

{% block content %}
<div class="animate-box">
    <div class="col-md-12 col-md-offset-0 text-center fh5co-heading">
        <h2><span>Reset password</span></h2>
    </div>
</div>
<div class="content-section">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="field">
                {{ form.password.label }}
                {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control") }}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="field">
                {{ form.confirm_password.label }}
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="form-control") }}
                {% endif %}
            </div>
        </div>
        <div class="form-group mt-3">
            {{ form.submit(class="btn btn-outline-primary") }}
        </div>
    </form>
</div>

{% endblock %}
