{% extends "base.html" %}

{% block content %}
<div class="animate-box">
    <div class="col-md-12 col-md-offset-0 text-center fh5co-heading">
        <h2><span>Reset password</span></h2>
    </div>
</div>
<div class="content-section">
    <form method="POST">
        {{ form.hidden_tag() }}           
            <div class="form-group">
                <div class="field">
                    {{ form.email.label }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control") }}
                    {% endif %}
                </div>
            </div>
        <div class="form-group mt-3">
            {{ form.submit(class="btn btn-outline-primary") }}
        </div>
    </form>
</div>

{% endblock %}
